@import url('vazirmatn/misc/Farsi-Digits/Vazirmatn-FD-font-face.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazirmatn FD', sans-serif;
  text-align: right;
  direction: rtl;
}

code,
pre {
  direction: ltr;
  text-align: left;
}

.svg-inline--fa {
  aspect-ratio: 1/1;
}
