/* Make clicks pass-through */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-light-red shadow-sm shadow-light-red/40 top-0 left-0 fixed w-full h-[3.6px] z-[1031];
}

/* Fancy blur effect */
#nprogress .peg {
  @apply shadow-lg shadow-light-red block absolute right-0 w-full h-full opacity-100;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  @apply flex justify-center items-center fixed bottom-9 right-5 bg-zinc-900/90 p-3 rounded-lg;

  z-index: 1031;
}

#nprogress .spinner-icon {
  @apply w-6 h-6 border-[3px] rounded-full border-t-light-red border-l-light-red;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
